name: Security Scan
on:
  push:
    branches: ["main"] # Run 'monitor' only on main merge
  pull_request:
    branches: ["main"] # Run 'test' (gate) on PRs

permissions:
  contents: read

jobs:
  snyk-security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
    
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.22' # Match my project version

      - name: Install Snyk CLI
        uses: snyk/actions/setup@master

      - name: Prepare Go Environment
        run: |
           cd file-engine
           go mod download
           go build ./... || echo "::warning::Build failed, Snyk might fail too"
      
      - name: Run Snyk to check for vulnerabilities
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
           cd file-engine
           snyk test --file=go.mod --severity-threshold=high

      
